.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown button {
    cursor: pointer;
  }
  
  .dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    display: none;
  }
  
  .dropdown ul.show {
    display: block;
  }
  
  .dropdown ul li {
    padding: 10px;
  }
  
  .dropdown ul li a {
    text-decoration: none;
    color: #333;
    display: block;
  }
  
  .dropdown ul li a:hover {
    background-color: #f2f2f2;
  }