input{
    width: 100%;
    font-size: 14px;
    font-weight: 800;
    color: black;
    outline: none;
    border-bottom: 2px solid rgba(180, 180, 180, 0.70);

    ::placeholder{
        color: rgba(180, 180, 180, 0.70);;
    }

    &:focus-visible{
        border-bottom: 2px solid black;
    }
}

input[type="radio"]{
    width: fit-content;
}