.content__info_card{
  display: inline-flex;
  flex-direction: column;
  width: 300px;
  padding: 11px 30px 38px 30px;
  border: 1px solid #EAEAEA;
  border-radius: 10px;
  min-height: 217px;
  font-size: 15px;
  font-family: Manrope;
}
