<sly-button
  text="Prueba"
  backgroundColor="red"
  textColor="black"
></sly-button>
<br>
<sly-button
  text="Contactanos"
  backgroundColor="#543BB7"
  backgroundHover="#452f9b"
  textColor="white"
></sly-button>
<br>
<sly-button
  icon="assets/icons/icon-outline-mask.svg"
  text="Prueba"
  backgroundColor="blue"
  textColor="white"
></sly-button>


<sly-info-card
  title="Diseño UX/UI"
  text="Experiencias de usuario impactantes y diseños cautivadores. Mejora la satisfacción de tus usuarios y destaca tu marca en el mundo digital."
></sly-info-card>


<sly-info-card
  title="Desarrollo Web"
  text="Sitios web personalizados que potencian tu presencia en línea. Impulsa tu negocio con una plataforma digital única y funcional."
></sly-info-card>


<sly-info-card
  title="Marketing"
  text="Estrategias digitales efectivas para expandir tu alcance y aumentar tus conversiones. Llega a tu público objetivo con campañas de marketing personalizadas"
></sly-info-card>
